@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/index.css */
body {
  font-family: Arial, sans-serif;
  background-image: url("https://plus.unsplash.com/premium_photo-1714051660720-888e8454a021?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
}

.app {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

button {
  margin-left: 10px;
}

input {
  padding: 8px;
  font-size: 16px;
}
